# Install clang-format-10. Some keywords may fail to be identified if clang-format is earlier than clang-format-10.
# Command: 
#     find ./<yourDirectory> -name "*.h" -or -name "*.cpp" -or -name "*.c"| xargs clang-format-10 -style=file -i

Language:        Cpp
# BasedOnStyle:  LLVM
AccessModifierOffset: -4
# C规则2.3
AlignAfterOpenBracket: Align
# C规则2.9
AlignConsecutiveAssignments: false
AlignConsecutiveDeclarations: false
# C建议2.4
AlignEscapedNewlines: DontAlign
# 建议2.2
AlignOperands: false
# 规则3.4
AlignTrailingComments: true
# C规则2.3
AllowAllParametersOfDeclarationOnNextLine: true
# C规则2.5
AllowShortBlocksOnASingleLine: false
# C规则2.8
AllowShortCaseLabelsOnASingleLine: false
# C++规则3.3.1
AllowShortFunctionsOnASingleLine: Inline
# C规则2.5
AllowShortIfStatementsOnASingleLine: false
# C规则2.7
AllowShortLoopsOnASingleLine: false
#deprecated
AlwaysBreakAfterDefinitionReturnType: None
# C规则2.3
AlwaysBreakAfterReturnType: None
# C规则2.10
AlwaysBreakBeforeMultilineStrings: true
# C++规则10.1.3
AlwaysBreakTemplateDeclarations: Yes
# C++建议2.3.3
AllowShortFunctionsOnASingleLine: All

# C规则2.3
BinPackArguments: true
BinPackParameters: true
BreakBeforeBraces: Custom
# C规则2.2
BraceWrapping:
  # C++规则3.3.1
  AfterClass:      false
  AfterControlStatement: false
  AfterEnum:       false
  AfterFunction:   true
  # C++建议6.1.1
  AfterNamespace:  false
  AfterObjCDeclaration: false
  AfterStruct:     false
  AfterUnion:      false
  AfterExternBlock: false
  BeforeCatch:     false
  BeforeElse:      false
  IndentBraces:    false
  SplitEmptyFunction: false
  SplitEmptyRecord: true
  SplitEmptyNamespace: true
# C建议2.2
BreakBeforeBinaryOperators: None
BreakBeforeInheritanceComma: false
BreakInheritanceList: BeforeColon
BreakBeforeTernaryOperators: false
BreakConstructorInitializersBeforeComma: false
# C++规则3.15.2
BreakConstructorInitializers: BeforeColon
BreakStringLiterals: true
# C建议2.1
ColumnLimit:     120
CommentPragmas:  '^ IWYU pragma:'
# C++建议2.2.2
CompactNamespaces: false
ConstructorInitializerAllOnOneLineOrOnePerLine: false
ConstructorInitializerIndentWidth: 4
ContinuationIndentWidth: 4
# C规则2.13
Cpp11BracedListStyle: false
DerivePointerAlignment: false
DisableFormat:   false
ExperimentalAutoDetectBinPacking: false
FixNamespaceComments: true
ForEachMacros:
  - foreach
  - Q_FOREACH
  - BOOST_FOREACH
# C建议4.3
IncludeBlocks: Regroup
IncludeCategories:
  - Regex:           '^"(llvm|llvm-c|clang|clang-c)/'
    Priority:        2
  - Regex:           '^(<|"(gtest|gmock|isl|json)/)'
    Priority:        3
  - Regex:           '.*'
    Priority:        4
IncludeIsMainRegex: '$'
# C规则2.8
IndentCaseLabels: true
# C规则2.12
IndentPPDirectives: None
IndentWidth:     4
IndentWrappedFunctionNames: false
# C建议2.5
KeepEmptyLinesAtTheStartOfBlocks: false
MacroBlockBegin: ''
MacroBlockEnd:   ''
# C建议2.5
MaxEmptyLinesToKeep: 1
# C++建议6.1.1
NamespaceIndentation: None
PenaltyBreakAssignment: 2
PenaltyBreakBeforeFirstCallParameter: 19
PenaltyBreakComment: 300
PenaltyBreakFirstLessLess: 120
PenaltyBreakString: 1000
PenaltyBreakTemplateDeclaration: 10
PenaltyExcessCharacter: 1000000
PenaltyReturnTypeOnItsOwnLine: 60
# C建议2.3
PointerAlignment: Left
ReflowComments:  true
SortIncludes:    true
SortUsingDeclarations: true
# C++规则3.14.1
SpaceAfterCStyleCast: false
SpaceAfterTemplateKeyword: false
SpaceBeforeAssignmentOperators: true
SpaceBeforeCpp11BracedList: false
SpaceBeforeCtorInitializerColon: true
SpaceBeforeInheritanceColon: true
SpaceBeforeParens: ControlStatements
SpaceBeforeRangeBasedForLoopColon: true
SpaceInEmptyParentheses: false
# C规则3.4
SpacesBeforeTrailingComments: 1
SpacesInAngles:  false
SpacesInContainerLiterals: true
SpacesInCStyleCastParentheses: false
SpacesInParentheses: false
SpacesInSquareBrackets: false
Standard:        Cpp11
TabWidth:        4
UseTab:          Never
